:root {
  --color1: rgb(102, 161, 209);
  --color2: rgb(215, 236, 243);
  --color3: white;
  background-color: var(--color1);
}

@font-face {
  font-family: 'IBM';
  src: url("IBMPlexSansThai-Thin.ttf");
}

#mainDiv {
  font-family: 'IBM', Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--color2);
  height: 80vmin;
  width: 80vmin;
  margin: auto;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 10px #555875;
          box-shadow: 5px 5px 10px #555875;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10vmin (1fr)[2];
  -ms-grid-columns: (1fr)[2];
      grid-template: 10vmin repeat(2, 1fr)/repeat(2, 1fr);
}

nav {
  padding: 1vmin;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1/ 1/ 2/ 4;
  grid-gap: 0;
}

nav input {
  color: var(--color2);
  background-color: var(--color1);
  border: 0px;
  padding: 1vmin;
  border-top-left-radius: 1vmin;
  border-bottom-left-radius: 1vmin;
}

nav input:focus {
  outline: none;
}

nav #goBtn {
  color: var(--color2);
  background-color: var(--color1);
  border: transparent;
  border: 0px;
  padding: 1vmin;
  border-top-right-radius: 1vmin;
  border-bottom-right-radius: 1vmin;
}

nav #fBtn {
  color: var(--color2);
  background-color: var(--color1);
  border: transparent;
  border: 0px;
  padding: 1vmin;
  border-radius: 1vmin;
  width: 4vmin;
}

nav #cBtn {
  color: var(--color1);
  background-color: var(--color2);
  border: transparent;
  border: 0px;
  padding: 1vmin;
  border-radius: 1vmin;
  width: 4vmin;
}

#current {
  -ms-grid-row: 2;
      grid-row-start: 2;
  width: 80vmin;
  height: 70vmin;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template: 1fr 1fr / 1fr 1fr;
}

#current #spinner {
  height: 30vmin;
  width: 30vmin;
  z-index: 9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1/1/3/3;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: none;
}

#current div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  color: var(--color1);
}

#current #temp {
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 13vmin;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
  display: -ms-grid;
  display: grid;
}

#current #temp span {
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 2vmin;
}

#current #prec {
  justify-self: center;
  width: 100%;
  height: 100%;
  text-align: center;
  text-justify: auto;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: pre-wrap;
}

#current #desc {
  font-size: 4vmin;
  text-align: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/3/2;
  display: -ms-grid;
  display: grid;
}

#current #desc img {
  -ms-grid-column-align: center;
      justify-self: center;
}

#current #wind {
  font-size: 4vmin;
  -ms-grid-column-align: center;
      justify-self: center;
  white-space: pre-wrap;
  text-align: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 1fr /1fr;
  position: relative;
}

#current #wind span {
  position: absolute;
  z-index: 2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#current #wind #windArrow {
  position: absolute;
  z-index: 1;
  width: 0;
  height: 0;
  border-left: 3vmin solid transparent;
  border-right: 3vmin solid transparent;
  border-bottom: 15vmin solid white;
  border-top: none;
}

#forecast {
  -ms-grid-row: 2;
      grid-row-start: 2;
  border: solid yellow 2px;
  width: 60vmin;
  height: 20vmin;
}
/*# sourceMappingURL=style.css.map */